*{
    background-color: rgba(17, 17, 17, 1.00);
}
body{
    max-width: 1440px;
    margin:0 auto;
}
/* shared Style */
.primary-color, .nav-left{
    color: rgba(230, 83, 60, 1.00);
}
.btn-primary{
    border-radius: 42px;
    background-color:rgba(230, 83, 60, 1.00);
    color:#ffff;
    padding: 20px;
}

/* navbar style */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-items{
    display: flex;
    list-style: none;
    }
.nav-item{
        margin-right: 16px;
    }
.nav-item a{
        text-decoration: none;
    }